<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2>Welcome to the morsecode API this will be used in a schoolproject.</h2>
    <h2>.-- . .-.. -.-. --- -- . / - --- / - .... . / -- --- .-. ... . -.-. --- -.. . / .- .--. .. / - .... .. ... / .-- .. .-.. .-.. / -... . / ..- ... . -.. / .. -. / .- / ... -.-. .... --- --- .-.. .--. .-. --- .--- . -.-. - .-.-.-</h2>
    <h2> Routes</h1>
    <ul>
        <li>Get /morsecodes</li>
        <li>Get /words</li>
        <li>
            <ul>
                <li>Post: /words </li>
                <li>accepts jsonObject: {word:""} </li>
            </ul>
        </li>
    </ul>
</body>

</html>